@model IEnumerable<Macservice3.Models.Taikhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role.Role_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tendangnhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Role_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tendangnhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matkhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mataikhoan }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mataikhoan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mataikhoan })
        </td>
    </tr>
}

</table>
