@model Macservice3.Models.Taikhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Taikhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tendangnhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tendangnhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mataikhoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
