@model Macservice3.Models.Kyluat

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Kyluat_Ad">Quản lý Kỷ luật </a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>Thêm mới Kỷ luật</h2>

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Mã Kỷ luật <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Makyluat, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Makyluat, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tên Kỷ luật <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Tenkyluat, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Tenkyluat, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label> Quyết định <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Quyetdinh, new { htmlAttributes = new { @class = "form-control",  @required = "@required" }
        })
                @Html.ValidationMessageFor(model => model.Quyetdinh, "", new { @class = "text-danger" })
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-success" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })

            </div>
        }
    </div>
</div>