@model Macservice3.Models.Kyluat

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Kyluat_Ad">Quản lý kỷ luật</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h3 class="mB-30" style="color:red">Bạn có chắc chắn muốn xóa kỷ luật này?</h3>

<div>
    <hr />
    <table class="table table-bordered table-bordered table-bordered table-bordered ">
        <tr>
            <th>
                Mã kỷ luật
            </th>
            <th>Tên kỷ luật</th>
            <th>Quyết định </th>
        </tr>
        <tr>
            <td><span>KL</span>@Html.DisplayFor(model => model.Makyluat)</td>
            <td> @Html.DisplayFor(model => model.Tenkyluat)</td>
            <td> @Html.DisplayFor(model => model.Quyetdinh)</td>
        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />&nbsp;
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
