@model Macservice3.Models.Chitietphongban

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chitietphongban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phongban.Tenphongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phongban.Tenphongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thongtinnhansu.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thongtinnhansu.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tungay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tungay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denngay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Machitietphongban }) |
    @Html.ActionLink("Back to List", "Index")
</p>
