@model Macservice3.Models.Chitietkhenthuong

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Chitietkhenthuong_Ad">Quản lý chi tiết khen thưởng</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h2 class="mB-30">Cập nhật chi tiết khen thưởng</h2>
<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Machitietkhenthuong)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Mã chi tiết khen thưởng <span style="color:red">*</span></label>
                <input type="text" readonly="readonly" value='@(Model.Machitietkhenthuong)' class="form-control" />
                @Html.ValidationMessageFor(model => model.Machitietkhenthuong, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Mã nhân viên <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Thongtinnhansu.Manv, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Thongtinnhansu.Manv, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tên nhân viên <span style="color:red">*</span></label>
                @Html.DropDownList("Manv", null, "-Chọn nhân viên-", htmlAttributes: new { @class = "form-control", @required = "@required" })
                @Html.ValidationMessageFor(model => model.Manv, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                <label>Tên nhân viên <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Thongtinnhansu.Hoten, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Thongtinnhansu.Hoten, "", new { @class = "text-danger" })
            </div>*@

            <div class="form-group">
                <label>Tên khen thưởng <span style="color:red">*</span></label>
                @Html.DropDownList("Makhenthuong", null, "-Chọn Tên khen thưởng-", htmlAttributes: new { @class = "form-control", @required = "@required" })
                @Html.ValidationMessageFor(model => model.Makhenthuong, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Lý do khen thưởng</label>
                @Html.EditorFor(model => model.Lydokhenthuong, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Lydokhenthuong, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tiền thưởng </label>
                @Html.EditorFor(model => model.Tienthuong, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Tienthuong, "", new { @class = "text-danger" })
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-success" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
