@model PagedList.IPagedList<Macservice3.Models.Chitietkhenthuong>
@using Macservice3.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách khen thưởng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    Macservice db = new Macservice();
    var Khenthuong_Ad = db.Khenthuongs.ToList();
    var Thongtinnhansu_Ad = db.Thongtinnhansus.ToList();
}
<ol class="breadcrumb">
    <li><a href="/Admin/Chitietkhenthuong_Ad">Quản lý danh sách khen thưởng</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h2>Danh sách khen thưởng</h2>

@using (Html.BeginForm())
{
    <div class="row mB-15 ">
        <div class="col-sm-5">
            <a href="/Admin/Chitietkhenthuong_Ad/Create" class="btn btn-success">Thêm mới</a>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="makhenthuong">
                <option value="0">Tất cả loại khen thưởng</option>
                @foreach (var item in Khenthuong_Ad)
                {
                    <option selected="@(item.Makhenthuong == ViewBag.Makhenthuong)" value="@item.Makhenthuong">@item.Tenkhenthuong</option>
                }
            </select>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" name="tukhoa" class="form-control" placeholder="Từ khóa..." value="@ViewBag.Tukhoa">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã chi tiết khen thưởng</th>
                <th>Mã nhân viên</th>
                <th>Họ và tên</th>
                <th>Tên khen thưởng </th>
                <th>Lý do khen thưởng</th>
                <th>Tiền thưởng</th>



                <th style="width:180px;">Hành động</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Machitietkhenthuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manv)
                        </td>

                        <td>
                            @(item.Thongtinnhansu != null ? item.Thongtinnhansu.Hoten : "")
                        </td>
                        <td>
                            @(item.Khenthuong != null ? item.Khenthuong.Tenkhenthuong : "")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Lydokhenthuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tienthuong)
                        </td>


                        <td>
                            <a href="/Admin/Chitietkhenthuong_Ad/Edit/@item.Machitietkhenthuong" class="btn btn-sm btn-success">Sửa</a>
                            <a href="/Admin/Chitietkhenthuong_Ad/Details/@item.Machitietkhenthuong" class="btn btn-sm btn-primary">Chi tiết</a>
                            <a href="/Admin/Chitietkhenthuong_Ad/Delete/@item.Machitietkhenthuong" class="btn btn-sm btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="10">Không có bản ghi nào.</td></tr>
            }
        </tbody>

    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))