@model Macservice3.Models.Dieudongcongtac

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dieudongcongtac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chucvu.Tenchucvu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chucvu.Tenchucvu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phongban.Tenphongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phongban.Tenphongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thongtinnhansu.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thongtinnhansu.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trinhdo_chuyenmon.Tentrinhdochuyenmon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trinhdo_chuyenmon.Tentrinhdochuyenmon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tungay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tungay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noicongtac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noicongtac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidungcongtac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidungcongtac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trocap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trocap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
