@model Macservice3.Models.Chitietkyluat
@using Macservice3.Models;
@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    Macservice db = new Macservice();
    var Thongtinnhansu_Ad = db.Thongtinnhansus.ToList();
}

<ol class="breadcrumb">
    <li><a href="/Chitietkyluats">Quản lý chi tiết khen thưởng</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h3 class="mB-30" style="color:red">Bạn có chắc chắn muốn xóa chi itiest khen thưởng này?</h3>
<div>
    <hr />
    <table class="table table-bordered table-bordered table-bordered table-bordered ">
        <tr>
            <th>
                Mã chi tiết kỷ luật
            </th>
            <th>Mã nhân viên </th>
            <th>Họ và tên </th>
            <th>Tên kỷ luật </th>
            <th>Tiền phạt </th>
        </tr>
        <tr>
            <td> @Html.DisplayFor(model => model.Machitietkyluat)</td>
            <td> @Html.DisplayFor(model => model.Thongtinnhansu.Manv)</td>
            <td> @Html.DisplayFor(model => model.Thongtinnhansu.Hoten)</td>
            <td> @Html.DisplayFor(model => model.Kyluat.Tenkyluat)</td>
            <td> @Html.DisplayFor(model => model.Tienphat)</td>
        </tr>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />&nbsp;
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
