@model Macservice3.Models.Chitietkyluat

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Chitietkyluat-Ad">Quản lý chi tiết kỷ luật</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h2 class="mB-30">Cập nhật chi tiết kỷ luật</h2>
<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Machitietkyluat)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Mã chi tiết kỷ luật <span style="color:red">*</span></label>
                <input type="text" readonly="readonly" value='@(Model.Machitietkyluat)' class="form-control" />
                @Html.ValidationMessageFor(model => model.Machitietkyluat, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Mã nhân viên <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Thongtinnhansu.Manv, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Thongtinnhansu.Manv, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tên nhân viên <span style="color:red">*</span></label>
                @Html.DropDownList("Manv", null, "-Chọn nhân viên-", htmlAttributes: new { @class = "form-control", @required = "@required" })
                @Html.ValidationMessageFor(model => model.Manv, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tên kỷ luật <span style="color:red">*</span></label>
                @Html.DropDownList("Makyluat", null, "-Chọn Tên kỷ luật-", htmlAttributes: new { @class = "form-control", @required = "@required" })
                @Html.ValidationMessageFor(model => model.Makyluat, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Lý do kỷ luật <span style="color:red"></span></label>
                @Html.EditorFor(model => model.Lydokyluat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lydokyluat, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tiền phạt <span style="color:red"></span></label>
                @Html.EditorFor(model => model.Tienphat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tienphat, "", new { @class = "text-danger" })
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-success" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>