@model Macservice3.Models.Loaihopdong

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Admin/Loaihopdong_Ad">Quản lý hợp đồng </a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>Thêm mới loại hợp đồng</h2>

<div class="row">
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Mã loại hợp đồng <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Maloaihopdong, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Maloaihopdong, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tên loại hợp đồng <span style="color:red">*</span></label>
                @Html.EditorFor(model => model.Tenloaihopdong, new { htmlAttributes = new { @class = "form-control", @required = "@required" } })
                @Html.ValidationMessageFor(model => model.Tenloaihopdong, "", new { @class = "text-danger" })
            </div>


            <hr />
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-success" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })

            </div>
        }
    </div>
</div>