@model PagedList.IPagedList<Macservice3.Models.Loaihopdong>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách loại hợp đồng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Loaihopdong_Ad">Quản lý hợp đồng</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h2 class="mB-30">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="row mB-15">
        <div class="col-sm-9">
            <a href="/Admin/Loaihopdong_Ad/Create" class="btn btn-success">Thêm mới</a>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" name="tukhoa" class="form-control" placeholder="Từ khóa..." value="@ViewBag.Tukhoa">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-bordered table-bordered table-bordered table-striped">
        <thead>
            <tr>
                <th>Mã loại hợp đồng </th>
                <th>Tên loại hợp đồng</th>
                <th style="width:120px;">Hành động</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Maloaihopdong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tenloaihopdong)
                        </td>
                        <td>
                            <a href="/Admin/Loaihopdong_Ad/Edit/@item.Maloaihopdong" class="btn btn-sm btn-primary">Sửa</a>&nbsp;
                            <a href="/Admin/Loaihopdong_Ad/Delete/@item.Maloaihopdong" class="btn btn-sm btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="5">Không có bản ghi nào.</td></tr>
            }
        </tbody>

    </table>
</div>
 Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
